@page "/"
@rendermode InteractiveServer
@using BlazorWebAppEFCore.Grid
@using Microsoft.EntityFrameworkCore


<PageTitle>Welkom bij de voorraadmodule van PTI</PageTitle>

<h1>Welkom bij de voorraadmodule</h1>
